@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Product Sans'), url('https://fonts.cdnfonts.com/s/13998/ProductSans-Regular.woff') format('woff');
}

html {
    font-family: 'Product Sans', sans-serif;
    color: white;
    background-color: #e6e6e6;
}

#exam-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.partial-container {
    padding:1.4em;
    display: flex;
    flex-direction: row;
    margin: 10px;
    background-color: rgba(46, 20, 20, 0.1);
    border-radius: 15px;
    justify-content: space-around;

}



.exam {
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    width: 300px;
    cursor: pointer;
    transition: ease-in-out 200ms;

}

.exam:hover{
    box-shadow:  3px 3px 10px rgba(0,0,0,0.5);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}

.exam div{
    padding: 0.3em;
}

.exam-date{
    text-transform: capitalize;
}

.exam-countdown {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.exam-title{
    font-size: 1.5em;
    font-weight: bold;
}


@media only screen and (max-width: 1150px){
    .partial-container {
        flex-direction: column;
    }
}